*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}
body{

	font-family: montserrat;
}
@media screen and (max-width: 500px){
	body{background-color: #00a3cc;
	}
}
nav{
	background-color: #00a3cc;
	height: 100%;
	width: 100%;

}   
.logo{
	color: white;
	font-size: 50px;
	font-weight: 20px;
	line-height: 100px;
	padding: 0 50px;
	
}
ul{

	float: right;
	margin-right: 20px;

}
li{
    
	display: inline-block;
	margin: 0 5px;
	line-height: 80px;
}
a:hover{
	background-color: #00e6b8;
	border-radius: 8px;


}
a{
	color: black;
	font-size: 200%;
	margin: 10px;
}
.active {
	background-color: #00e6b8;
	border-radius: 8px;

}
.hi{
	clear: both;
	text-align: center;
	margin:0 100px;
	background-color: lightgray;
	height: 100%;
	padding: 100px;
	margin-top: -35px;
	margin-left: -35px;
	margin-right: 0px;
	font-size: 25px;
}

/* contact */
.book{
	display: flex;
	
}
.copy{
	margin-top: 50px;
}
h1{
	text-align: center;
}

.pen{
	margin-top: -25px;
	margin-left: 50%;
}




