*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
}
body{

	font-family: montserrat;
}
@media screen and (max-width: 500px){
	body{background-color: #00a3cc;
	}
}
nav{
	background-color: #00a3cc;
	height: 100%;
	width: 100%;

}   
.logo{
	color: white;
	font-size: 50px;
	font-weight: 20px;
	line-height: 100px;
	padding: 0 50px;
	
}
ul{

	float: right;
	margin-right: 20px;

}
li{
    
	display: inline-block;
	margin: 0 5px;
	line-height: 80px;
}
a:hover{
	background-color: #00e6b8;
	border-radius: 8px;


}
a{
	color: black;
	font-size: 200%;
	margin: 10px;
}
.active {
	background-color: #00e6b8;
	border-radius: 8px;

}
/* index */
.hi{
	clear: both;
	text-align: center;
	
	background-color: lightgray;
	height: 100%;
	padding: 100px;
	margin-top: -35px;
	margin-left: -35px;
	margin-right: 0px;
	font-size: 25px;
}

/* contact */
.book{

	background-color: lightgray;
	margin-top: -17px;
}
h1,h2{
	text-align: center;
	margin: 20px;
}
.copy{
	margin: 75px;
	margin-left: 20%;
}
.eraser{
	background-color: rgba(0,0,0,0.8);
	margin-right: 60%;
	margin-left: 25%;
}
.pen{
	margin-left: 25%;
	margin-top: -23%;

}
.pencil{
	background-color: rgba(0,0,0,0.8);
	line-height: 20px;
	margin-left: 60%;
	margin-top: -23%;
	margin-right: 20%;
}
.compass{
	margin-top: 20px;
}





